/* GENERAL RESET */
* {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red;
    font-size: 38px;
    font-weight: 500;
}
p {
color: white;
text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red;
font-size: 20px;
margin-top: 40px;

}

/*HEADER-NAV*/
header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}
#secondImg {
    width: 300px;
    display: none;
}
header nav {
    padding: 20px;

}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}
header nav img {
    font-size: 50px;
}

header nav ul {
    list-style-type: none;
    font-size: 20px;
    float: right;
    clear: both;
    text-align: right;
    color: #031833;
    display: none;
    background-color: white;
}

header nav a {
    color: #031833;
    text-decoration: none;
}

header nav li {
    margin-top: 8px;
}

input {
    display: none;
}

#firstLabel,#secondLabel {
    font-size: 50px;
    color: #031833;
    float: right;
    margin-top: -4px;
    cursor: pointer;
}

#tendina:checked~ul {
    display: block;
}

.btnRegister {
    background-image: linear-gradient(to right, #6ED663, #031833);
    color: white;
    padding: 7px;
    text-decoration: none;
}

#secondLabel {
    font-size: 50px;
    margin-top: 5px;
    display: none;
}

#tendina:checked+#firstLabel {
    display: none;
}

#tendina:checked~.secondaLabel {
    display: block;
    color: #6ED663;
}
/*HEADER-NAV/RESPONSIVE-DA 768PX*/
@media  screen and (min-width:768px) { #tendina:checked~.secondaLabel {
    display: none;
}
#firstLabel {
    display: none;
}
}
@media  screen and (min-width:768px) { header nav ul {
    display: inline;
    margin-top:9px;
    
}
}
@media  screen and (min-width:768px) { header nav ul li {
    display: inline;
    margin: 0px 10px;
}
}

/*HEADER-NAV/RESPONSIVE-DA 1024PX*/
@media  screen and (min-width:1024px) { #firstImg {
    display: none;
}
}
@media  screen and (min-width:1024px) { #secondImg {
    display: inline;
}
}
@media  screen and (min-width:1024px) { header nav  {
    padding: 40px ;
    margin: 0px 50px auto;
}
}
@media  screen and (min-width:1024px) { header nav ul {
    margin-top: 20px ;
}
}

/*HEADER-NAV/RESPONSIVE-DA 1280PX*/
@media  screen and (min-width:1280px) { header nav ul  {
    font-size: 30px;
    margin-top: 26px;
  }
  }
  @media  screen and (min-width:1280px) { #firstImg  {
    width: 300px;
  }
  }
  @media  screen and (min-width:1280px) { #secondImg  {
    width: 350px;
  }
  }


/*----------------------------------------------------------------------------*/

/*MAIN-SECTION*/
main {
    margin-bottom: 60px;
}
main section {
   box-shadow:  0px 0px 20px 10px #6ED663 ;
}
main section {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding: 40px;
}
main section p {
    margin-bottom: 40px;
}
@keyframes pino {
    from { margin-left: 400px; margin-top: -500px; }
    to { margin-bottom: 0px; margin-left: 0px; margin-top: 30px; }
 }

 main section a {
    animation-name: pino ;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    position: absolute;
   
 }
 section a:hover {
    border: 1px solid black;
    box-shadow:  0px 0px 20px 10px #6ED663;
 }
 /*MAIN-SECTION/RESPONSIVE-DA 768PX*/

 @media  screen and (min-width:768px) { main section p {
    margin-top: 70px ;
}
}
 /*MAIN-SECTION/RESPONSIVE-DA 1024PX*/

/*-----------OK COSI-------------*/

 /*MAIN-SECTION/RESPONSIVE-DA 1280PX*/
 @media  screen and (min-width:1280px) { main h1  {
  font-size: 48px;
}
}
@media  screen and (min-width:1280px) { main p,a  {
    font-size: 30px;
  }
  }

/*------------------------------------------------------------------------*/

/*MAIN-DIV*/
.divContainer {
    width: 90% ;
    margin: 20px auto;
}
.divMaggiore 
{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red;
    text-align: center;
}
.divMaggiore h2 {
    font-size: 33px;
    font-weight: 500;
}
.divMaggiore p{
    margin-top: 25px;
}
.divFigli {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red;
    text-align: center;
}
.divFigli h3 {
    font-size: 28px;
    margin-top: 45px;
    font-weight: 500;
}
.divFigli p{
    margin-top: 15px;
}

div .lni {
    color: red;
    font-size: 40px;
    margin-right: 0px;
}
/*MAIN-DIV/RESPONSIVE-DA 768PX*/
@media  screen and (min-width:768px) { .miniContainer {
    display: flex;
    justify-content: space-between;
    
}  
}
@media  screen and (min-width:768px) { .divFigli {
    width: 25%;
}  
}
/*MAIN-DIV/RESPONSIVE-DA 1024PX*/
@media  screen and (min-width:1024px) { .divMaggiore {
    margin-top: 40px;
}  
}
/*MAIN-DIV/RESPONSIVE-DA 1280PX*/
@media screen and (min-width: 1280px) { .divContainer {
        width: 80% ;
        margin: 20px auto;
     
    }
}
@media screen and (min-width: 1280px) { .divContainer p {
    font-size: 20px;
 
}
}

/*------------------------------------------------------------------------*/

/*ASIDE-DIV*/
aside>div {
    height: 400px;
    background-color: #031833;
    text-align: center;
   padding: 40px
}
aside>div>h3 {
    font-size: 28px;
    margin-top: 45px;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red;
}
aside>div>p {
   margin-bottom: 60px;
}
aside > div > a {
    font-size: 20px;
    border: 1px solid green;
}
/*ASIDE-DIV/RESPONSIVE-768&1024PX*/
@media screen and (min-width:768px) { aside>div {
    height: 300px; 
} 
}
@media screen and (min-width:768px) {
    .divAside h3 {
        margin-top: 0px;

    }
}

/*------------------------------------------------------------------------*/

/*ASIDE-SECTION*/
#asideSection img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
}
#asideSection {
    text-align: center;
    padding: 20px;
}
#asideSection h3 {
    font-size: 28px;
    margin-top: 10px;
    font-weight: 500;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red;
}
#asideSection p {
    margin-top: 5px;
}
.asideDivSectionUno {
    margin-bottom: 40px;
}
.lni.lni-happy, .lni.lni-cool, .lni.lni-suspect  {
    font-size: 30px;
    margin-right: 10px;
}
/*ASIDE-SECTION RESPONSIVE DA 768PX*/
@media screen and (min-width:768px) { #asideSection {
    display: flex;
}   
}
@media screen and (min-width:768px) { .asideDivMiniContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 30px;
    text-align: left;
}   
}
/*ASIDE-SECTION RESPONSIVE DA 1024PX*/
@media screen and (min-width:1024px) { #asideSection {
    justify-content: center;
}   
}
/*ASIDE-SECTION RESPONSIVE DA 1280PX*/
/*OK COSI*/

/*------------------------------------------------------------------------*/

/*FOOTER*/
footer {
    width: 100%;
    background-color: rgb(221, 220, 220);
    padding: 40px;
}

footer h3 {
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em red;
    font-weight: 400;
}

footer>section>div>p  {
    color: white;
    font-size: 15px;
    margin: 0px 
}
.lni {
    margin-right: 20px;
    
}
.lni.lni-facebook-original {
    font-size: 25px;
}
.lni.lni-linkedin-original {
    font-size: 25px;
}
.lni.lni-instagram-filled {
    font-size: 25px;
}

footer section div {
    margin-bottom: 30px;
}


footer section div input {
    display: block;
    width: 100%;
    height: 50px;
}
form button {
    background-image: linear-gradient(to right, #6ED663, #031833);
    color: white;
    padding: 7px;
    text-decoration: none;
    width: 100%;
}
footer address {
    font-style: normal;
    text-align: center ;
}
/*FOOTER-RESPONSIVE DA 768PX, | 1024&1280 VA BENE COSI |*/
@media screen and (min-width:768px) { .sectionFooter {
    display: flex;
}   
}
@media screen and (min-width:768px) { footer section div {
    width: calc(100% /3);
    padding: 30px;
}   
}
@media  screen and (min-width:768px) { #terzaLabel  {
   margin: 0;
   
}
}









